<VirtualHost *:443>
  # Serve user specific rails applications in development mode
  #
  # The application has to be located in /home/<user>/RubyOnRails/<application>
  # The URL to serve the application will be <user>.<application>.ror.HVboom.org
  #
  # ATTENTION: <user> and <application> have to be all lowercase

  UseCanonicalName Off

  ServerName xxx.ror.HVboom.org
  VirtualDocumentRoot "/home/%1/RubyOnRails/%2/public"

  PassengerAppEnv "development"
  RailsBaseURI "/"
  <Directory "/home/*/RubyOnRails/*/public">
    Require all granted
    Options -MultiViews 
  </Directory>
</VirtualHost>
